*{
    padding: 0% ; 
    margin : 0  ;
    box-sizing: border-box  ;
    font-family: sans-serif ;
}

.nav1{
    width: 100%  ;
    height: 60px ;
    color: aliceblue ;
    background: #222f3e ;
    display: flex ;
    justify-content: space-around ;
    align-items: center ;
}

.nav1 i{
    margin: 0 5px;
}

.nav1 a{
     text-decoration: none ;
     color: white ;
     padding: 5px 10px ;
   
}

.btn a:hover
{
    background-color:  rgb(31, 163, 141);
}
.nav2
{
     width: 100% ;
    height: 80px ;
    background: white ;
    color: black ;
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    padding: 0px 70px ;
}


.menu
 a {
    text-decoration: none ;
    color: rgb(24, 23, 23) ;
    padding: 10px 20px ;
    font-weight: bold;
 }
  
.menu a:hover{
    background-color: rgb(31, 163, 141);
}

  



header
{
    width: 100% ;
    height: 100vh ;
    background: linear-gradient(rgba(24, 23, 23, 0.7),rgba(0,0,0,0.7)), url('https://images.shiksha.ws/mediadata/images/articles/historic-college-building-in-cambridge-united-kingdom-picture-id611591082.jpg');
    background-size: 100% 100% ;
}

.h-text
{
    max-width: 600px ;
    color: white ;
    position: absolute ;
    top: 40% ;
    left: 50% ;
    transform: translate(-50%,-50%); 
    text-align: center;
    
}

.h-text h1{
    font-size: 3em ;
    font-family: 'Dancing Script', cursive;
}

.h-text span{
    color: rgb(31, 163, 141);
    font-family: 'Dancing Script', cursive; 
}

.h-text p{
    font-size: 30px;
    margin: 20px 0;
    line-height: 30px;
    font-family: 'Dancing Script', cursive;
}

.h-text a{
    text-decoration: none ;
    color: white ;
    
    padding: 10px 20px ;
    margin: 0 25px ;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

 .h-text a:hover{
    background-color:  rgb(31, 163, 141);
 }